body {
    background: #fff;
    color: #333;
}
.text-orange {
    color: #f94d00;
}
.border-orange {
    border-color: #f94d00 !important;
}
.btn-orange {
    background-color: #f94d00;
    color: white;
}
.btn-orange:hover {
    background-color: #e03f00;
    color: white;
}
.msg {
    font-size: 20px;
    font-style: italic;
    word-wrap: break-word;
}
.autor {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}
.carousel-item {
    transition: transform 1s ease, opacity 1s ease !important;
}
